-
  const profileFormData = {
    buttonText: '',
    buttonLink: 'chat-page.pug',
  }

mixin profile-block(data)
  .profile-block
    .profile-block__back
       +button(profileFormData).btn--blue.profile-block__button
        image(src="../img/svg/icon-arrow-back.svg", width="11px", height="10px", alt="кнопка назад")
    .profile-block__info
      +plug-message(plugMessage)
