.chat-block {
  display: grid;
  min-width: 100%;
  max-height: 720px;
  grid-template-columns: 24.2% 75.8%;
  background-color: $color-default-white;
}

.chat-block__list {
  overflow-y: scroll;
  max-height: 720px;
  padding-top: 21px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-right: 1px solid $color-whisper;
}

.chat-block__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chat-block__plug {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-nobel;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  cursor: pointer;
}

.chat-block__link-wrapper,
.chat-block__search-wrapper {
  padding-left: 10px;
}

.chat-block__link-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
