.login-form {
  display: flex;
  position: fixed;
  top: calc(50% - 250px);
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto;
  text-align: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  background-color: $color-default-white;
  border-radius: 30px;
  flex-direction: column;
  margin: 0;
  padding: 50px 30px 30px 30px;
  min-height: 450px;
  max-width: 340px;

  @include vp-767 {
    min-width: 100%;
  }
}

.login-form--reg {
  top: calc(50% - 350px);
}

.login-form form {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.login-form__buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-top: 15px;
}

.login-form__button {
  margin-bottom: 14px;
}

