//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-request
include ./modals/modal-question
include ./modals/modal-success
include ./modals/modal-catalog

//- Blocks

include ./blocks/attention
include ./blocks/attention-with-container
include ./blocks/page-content
include ./blocks/accordion
include ./blocks/swiper
include ./blocks/main-slider
include ./blocks/main-slider-slide
include ./blocks/object-card
include ./blocks/page-about
include ./blocks/page-index
include ./blocks/page-search
include ./blocks/page-contacts
include ./blocks/page-questions
include ./blocks/page-placeholder
include ./blocks/modal-form
include ./blocks/modal-lower-block
include ./blocks/question-input
include ./blocks/submit-button
include ./blocks/phone-input
include ./blocks/name-input
include ./blocks/email-input
include ./blocks/search-form
include ./blocks/grid-block
include ./blocks/catalog-list
include ./blocks/catalog-form
include ./blocks/catalog-header
include ./blocks/catalog-sort
include ./blocks/load-more
include ./blocks/object-search-result
include ./blocks/search-status
include ./blocks/privacy
include ./blocks/filter
include ./blocks/tabs
include ./blocks/error-block
include ./blocks/autocomplete
include ./blocks/map-block
include ./blocks/controls
include ./blocks/page-content-controls
include ./blocks/object
include ./blocks/document
include ./blocks/views
include ./blocks/service-card
include ./blocks/service
include ./blocks/similar-objects
include ./blocks/social
include ./blocks/range-slider
include ./blocks/btn-to-top

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/file-input
include ./mixins/form-select
include ./mixins/btn-filter
include ./mixins/breadcrumbs
